mysite/app01/migrations/*
mysite/manage.py
.venv/*



mysite/app01/__pycache__/admin.cpython-39.pyc
mysite/app01/__pycache__/admin.cpython-39.pyc
mysite/app01/__pycache__/forms.cpython-39.pyc
mysite/app01/__pycache__/admin.cpython-39.pyc
mysite/app01/__pycache__/forms.cpython-39.pyc
mysite/app01/__pycache__/urls.cpython-39.pyc
mysite/app01/__pycache__/utils.cpython-39.pyc
mysite/app01/__pycache__/views.cpython-39.pyc
